/* @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"); */
/* .input-group{
    position: relative;
}
.input-group i{
    position: absolute;
    right:1.2rem;
    transform: translateY(50%);
    background-color: none;
    color:#ff0000;
} */
/* span {color:#ff0000; background-color: #ffffff;}
i{
    height: 12px;
    width: 12px;
    color:blue
} */